  .non {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  .nonlist {
      float: left;
  }

  .nonlist a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
  }

  .nonlist a:hover {
      background-color: #111;
      color: red;
  }

  .text{
  	font-size: 70px;
  	text-align: center;
  	position: absolute;
  	margin-top: -200px;
  	margin-left: 920px;
  }



  input[type="text"] {
      width: 300px;
  }

  .todo{
  	font-size: 20px;
  }

  .tamad{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: #fffafa;
    margin-top: -100px;
    margin-left: 600px;
    position: absolute;
  }

  .fs12{
  	font-size: 12px;
  }

  .inline{
  	display:inline;
  }

  .fs30{
  	font-size: 30px;
  }

  .vocab{
  	background: #F6F6F6;
  }

  .fs20{
  	font-size: 20px;
  }

  .pl70{
  	padding-left: 70px;
  }

  .pt100{
  	margin-top: 100px;
  }


    #btn {
      width: 200px;
      margin: 0 auto;
      padding: 7px;
      border-radius: 5px;
      background: #8BA7D5;
      box-shadow: 0 4px 0 #4B75B9;
      cursor: pointer;
      text-align: center;
      color: black;
      font-family: 'Handlee', cursive;
      font-weight: bold;
    }
    #btn:hover {
      opacity: 0.8;
    }
    #card {
      margin: 60px auto 20px;
      width: 400px;
      height: 100px;
      cursor: pointer;
      font-size: 38px;
      line-height: 100px;
      perspective: 100px;
      transform-style: preserve-3d;
      transition: transform .8s;
      margin-top: -560px;
    }

  .img6{
    width: 1450px;
    height: 700px;
    margin-left: -150px;
    opacity: 0.6;
  }

    #card-front, #card-back {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      position: absolute;
      backface-visibility: hidden;
      text-align: center;
    }
    #card-front {
      background: white;
      color: #00597C;
      font-size: 20px;
    }
    #card-back {
      background: #E3E3E3;
      transform: rotateY(180deg);
      font-size: 20px;
      color: #00597C;
     }

     .open{
     	transform: rotateY(180deg);
     }

     #quiz{
     	border: 1px solid silver;
      border-radius: 5px;
      font-size: 20px;
      margin-top: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      cursor: pointer;
      padding-left: 15px;
     }

     #quiz:hover{
     	background-color: #E3E3E3;
     }

     .quiz2{
     	list-style: none;
      margin: 0 0 10px;
      padding: 0;
     }
  .search{
  	display:inline;
  }

  .today{
  	margin-top: 80px;
      text-align: center;

  }

  .text2{
  	font-size: 40px;
  	text-align: center;
  	position: absolute;
  	margin-top: -250px;
      margin-left: 100px;
  }

  .hello{
  	text-align: center;
  	font-size: 30px;
  	position: absolute;
  	margin-top: -400px;
  	margin-left: 380px;
  }

  .vocab1{
      font-family: 'Kaushan Script', cursive;
  	color: white;
  	margin-top: -340px;
  	margin-left: 30px;
      font-size: 43px;
  }

  .vocab2{
  	font-family: 'Kaushan Script', cursive;
  	color: white;
  }

  .same{
  	margin-top: 50px;
  }

  .pt90{
  	padding-top: 80px;
  }

  .mt15{
  	margin-top: 15px
  }

  .fs15{
      font-size: 15px;
  }

  #btn{
      margin-top: 80px;
  }

  #result{
    font-weight:bold;
  }

  .img2{
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: 200px;
    margin-top: 300px;
    z-index: 1;
  }

  .quoto{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    border: 7px solid #2f922f;
    width: 370px;
    text-align: center;
    height: 260px;
    border-radius: 5px;
    margin-top: 600px;
    margin-left: 500px;
    z-index: 3;
    position: absolute;
  }

  .img1{
    width: 220;
    height: 220px;
    position: absolute;
    margin-top: 950px;
    margin-left: 80px;
  }

  .mahal{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    text-align: right;
    margin-bottom: 50px;
    margin-left: 30px;
  }

  .img3{
    width: 340px;
    height: 220px;
    position: absolute;
    margin-top: -20px;
    margin-left: 820px;
  }

  .img4{
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 560px;
    margin-left: 780px;
  }

  .gusto{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    margin-top: 1100px;
    margin-left: -70px;
  }

  .mt{
    margin-top: -600px;
  }

  .img5{
    width: 1450px;
    height: 700px;
    margin-left: -150px;
    opacity: 0.7;
  }

  .memo{
    color: red;
  }

  .img8{
    width: 1450px;
    height: 700px;
    margin-left: -150px;
  }

  #result{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    font-weight: 100;
  }

.mtt{
      margin-top: -650px;
  }

  .img9{
    width: 1450px;
    height: 700px;
    margin-left: -150px;
    opacity: 0.5;
  }

  .pak{
    /*font-family: 'Marck Script', cursive;*/
    font-family: 'Caveat', cursive;
    font-weight: 500;
    /*font-style: oblique;*/
    margin-top: 130px;
    position: absolute;
    color: ghostwhite;
    font-size: 250px;
    margin-left: 220px;
    transform: rotate(-7deg);
    text-shadow: 3px 3px 2px darkolivegreen;
    rgba: 0.5px;
  }